mixin generateCardMinimal(className, cardTitle, cardText, imgSource)
  div(class=["card", className])
    img(class="card-img-top", src=imgSource, alt="Top")
    div(class="card-block")
      h4(class="card-title")= cardTitle
      p(class="card-text")= cardText
  block

mixin generateCardWithOverlay(className, cardTitle, cardText, imgSource)
  div(class=["card", className])
    img(class="card-img-top", src=imgSource, alt="Top")
    div(class="card-img-overlay")
      h4(class="card-title")= cardTitle
      p(class="card-text")= cardText
  block